@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using umbraco.NodeFactory;
@using Iomer.Umbraco.Extensions;
@using Amoura.Web.Data;
@using Amoura.Web.Models;

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Ms Amoura</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,400italic,500,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/main.css">


    <script type="text/javascript" src="/Scripts/jquery.js"></script>
    <script type="text/javascript" src="/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/Scripts/singlepagenav.js"></script>
    <script type="text/javascript" src="/Scripts/queryloader.js"></script>
    <script type="text/javascript" src="/Scripts/main.js"></script>

    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <link rel="icon" type="image/png" href="/Images/msAmouraLogo_black.png" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top top-nav" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="/Images/msAmouraLogo_black.png" style="width:100px" title="PixelMock Logo">

                </a>
            </div>

            <div class="collapse navbar-collapse ">
                @Html.Partial("MsNavigation", Model.Content)
            </div>
        </div>
    </div>


    @*<div class="content" id="home">
        <div class="section section1" style="background: url(/Images/workspace-main.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-sm-4 col-md-2 col-lg-4 col-xs-offset-3 col-sm-offset-4 col-md-offset-4 main-logo"></div>
                </div>
                <div class="row">
                    <p>
                        @Umbraco.Field("itemDescription")
                    </p>
                </div>
            </div>
        </div>
    </div>*@

    @{
        var homeNode = Node.GetCurrent();
        var subPages = homeNode.ChildrenAsList.Where(i => !i.NodeHidden()).Select(i => new Node(i.Id));
        var index = 1;
        var galleryInitialized = false;
     }

    <div class="section section0" id="home">
        <div class="container">
                <div class="row">
                    <div class="col-md-12 rowContent">
                        @Umbraco.Field("bodyText")
                    </div>
            </div>
        </div>
    </div>

    @foreach(var page in subPages)
    {
        if (index > 0)
        {
            <div><hr /></div>
        }
        if (page.NodeTypeAlias == DocumentTypes.textPage.ToString())
        {
            @Html.Partial("MsTextPage", page)
        }
        else if (page.NodeTypeAlias == DocumentTypes.galleryPage.ToString())
        {
            var viewModel = new StandardViewModel { Initialized = galleryInitialized, PageNode = page };
            @Html.Partial("MsFancyBoxResources", viewModel)
            @Html.Partial("MsFancyBoxGallery", page)
            galleryInitialized = true;
        }
        index++;
    }

    <div class="section footer">
        <div class="container">
            <div class="row">
                <div class="col-md-5 contact-description">
                    <p class="sm-wrapper clearfix">
                        <a class="sm-container" href="https://twitter.com/MSAmouras" target="_blank"></a>
                        <a class="sm-container sm-facebook" href="https://www.facebook.com/amourams" target="_blank"></a>
                        @*<a class="sm-container sm-linkedin" href="http://www.linkedin.com/company/pixelmock/" target="_blank"></a>*@
                        <a class="sm-container sm-instagram" href="https://www.instagram.com/amourams" target="_blank"></a>
                        @*<a class="sm-container sm-gplus" href="https://plus.google.com/115525542717477884846" rel="publisher" target="_blank"></a>*@
                        <div class="clear"></div>
                    </p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>